[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
load-dotenv = "*"
flask-migrate = "*"
gunicorn = "*"
pep8 = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.10"
